<% include("top.ejs") %>

<main>
    <h1 id="employees">
        Employees
    </h1>

    <div id="AddForm">
        <input type="text" name="name"  id="name"  placeholder="name"/>
        <button id="Add" onclick="addNewLine();">Add</button>

        <hr/>
    </div>
    <br/>
    <input type="search" id="filterField"  placeholder="Search..." oninput="CreateTable()">
    <hr/>

    <table id="table">
        <thead>
        <tr>
            <th>Edit</th>
            <th>ID</th>
            <th>Name</th>
            <th>Delete</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="mainEmployees">  </tbody>
    </table>
    <script src="/jsEmployees.js"></script>
</main>
<% include("botoom.ejs") %>