<% include("top.ejs") %>

<main>
    <h1 id="employees">
        Employees TIME
    </h1>

    <div id="AddForm">
        <input type="text" name="id"  id="id"  placeholder="name"/>
        <input type="time" name="time_start"  id="time_start"  placeholder="time_start"/>

        <button id="Add" onclick="addNewLine();">Add</button>


        <hr/>
    </div>
    <br/>
    <input type="search" id="filterField"  placeholder="Search..." oninput="CreateTable()">
    <hr/>

    <div id="clock"></div>
    <table id="table">
        <thead>
        <tr>
            <th>Edit</th>
            <th>ENTER</th>
            <th>ID</th>
            <th>Name</th>
            <th>time_start</th>
            <th>time_end</th>
            <th>date</th>
            <th>Delete</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="mainEmployees">  </tbody>
    </table>
    <script src="/jsEmployees_time.js"></script>
</main>

<% include("botoom.ejs") %>