<% include("top.ejs") %>

<main>
    <h1>בוקר טוב </h1>
    <div id="lineForm">
        <input type="text" name="id"  id="id"  placeholder="id"/> <br><br>
        <input type="text" name="name"  id="name"  placeholder="name"/> <br><br>
        <button>send</button>-->
    </div>
<!--<h1>-->
<!--    adding employees-->
<!--</h1>-->
<!--<form action="/categories/Add" method="post">-->
<!--    <input type="text" name="id"          id="id"        placeholder="id"       /> <br><br>-->
<!--    <input type="text" name="name   "   id="name   " placeholder="name  "/> <br><br>-->
<!--    <select name="category_id"   id="category_id" >-->
<!--        <option value="2">line 1</option>-->
<!--        <option value="5">line more</option>-->
<!--    </select>-->
<!--    <br><br>-->
<!--    <input type="text" name="owner_id   "   id="owner_id   " placeholder="owner_id   "/> <br><br>-->
<!--    <input type="text" name="creator_id "   id="creator_id " placeholder="creator_id "/> <br><br>-->
<!--    <button>send</button>-->
<!--</form>-->
</main>








<!--<script>-->
<!--let raw_data=[];-->
<!--function CreateTble(){-->
<!--let str="";-->
<!--for(let line of raw_data){-->
<!--str+="<tr>";-->
<!--    str+=`<td><button onclick="editLine(${line.id});">edit</button></td>`;-->
<!--    str+="<td>"+line.name+"</td>";-->
<!--    str+=`<td><button onclick="deleteLine(${line.id});">delete</button></td>`;-->
<!--    str+="</tr>";-->
<!--}-->
<!--document.getElementById("categories").innerHTML=str;-->
<!--}-->
<!--async function getList() {-->
<!--let response = await fetch('/List');-->
<!--// console.log("response=",response);-->
<!--let data = await response.json();-->
<!--console.log("data=",data);-->
<!--raw_data = data;-->
<!--CreateTble();-->
<!--}-->
<!--async function addNewLine() {-->
<!--let id=document.getElementById("id").value;-->
<!--let name=document.getElementById("name").value;-->
<!--let response = await fetch('/Add', {-->
<!--method: 'POST',-->
<!--headers: {-->
<!--'Content-Type': 'application/json'-->
<!--},-->
<!--body: JSON.stringify({ id: id,name: name})-->
<!--}-->
<!--);-->
<!--// let data = await response.json();-->
<!--// console.log(data);-->
<!--getList();-->
<!--}-->
<!--async function deleteLine(id) {-->
<!--let objToServer={};-->
<!--objToServer.idx=id;-->
<!--let response = await fetch('/Del/:row_id', {-->
<!--method: 'delete',-->
<!--headers: {-->
<!--'Content-Type': 'application/json'-->
<!--},-->
<!--body: JSON.stringify(objToServer)-->
<!--}-->
<!--);-->
<!--getList();-->
<!--}-->
<!--async function editLine(id) {-->
<!--let objToServer={};-->
<!--objToServer.idx=id;-->
<!--let name=document.getElementById("name").value;-->
<!--let response = await fetch('/Edit/:row_id', {-->
<!--method: 'patch',-->
<!--headers: {-->
<!--'Content-Type': 'application/json'-->
<!--},-->
<!--body: JSON.stringify(objToServer)-->
<!--}-->
<!--);-->
<!--getList();-->
<!--}-->
<!--getList();-->
<!--</script>-->
<% include("botoom.ejs") %>